body{
    background-image: url("https://www.tekstream.com/wp-content/uploads/2017/08/Splunk-and-Docker-Theme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 60px;
    text-align: center;
    color:white;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
h2{
    color:white;
    font-size: 50px;
}
p{
    color:black;
    font-size: 30px;
}
.left{
    float:left;
    margin-left: 20%;
    margin-top:8%;
}
.right{
    float:right;
    margin-right: 25%;
    margin-top:9%;
    height:500px;
    width:350px;
    background-color: whitesmoke;
    z-index: 5;
    opacity: 0.8;
    border-radius: 4px;
}
#person{
    display: block;
    margin: auto;
    height:100px;
    width:100px;
}
#warn{
    font-size: 15px;
    display: block;
    padding-left: 25px;
}
.click{
    display:block;
    margin: auto;
    background-color: lightskyblue;
    cursor:pointer;
    width:300px;
    height:30px;
    border-radius:5px;
}
label{
    font-size: 20px;
    padding-left: 25px;
}
.info{
    display:block;
    margin: auto;
    width:300px;
    height:30px;
    border-radius:5px;
    margin-top: 10px;
}